### Initial Data Exploration

Once you've identified a Use Case and Data Set it is time to get familiar with data. In the process model this task is called Initial Data Exploration. Please take a minute or two to (re)visit the following lecture

https://www.coursera.org/learn/data-science-methodology 

Module 2 - Data Understanding    

Please also revisit:

http://coursera.org/learn/ds

Module 3 - Mathematical Foundations and 
Module 4 - Visualizations

Given the lectures above, please create statistics and visualization on your Data Set to identify good columns for modeling, potential data quality issues and anticipate potential feature transformations necessary.

Create a jupyter notebook where you document your code and include visualizations as first deliverable. Please also stick to the naming conventions explained in the the process model manual.

So, the most important reasons / steps are:

- Identify quality issues (e.g. missing values, wrong measurements, …)

- Assess feature quality – how relevant is a certain measurement (e.g. use correlation matrix)

- Get an idea on the value distribution of your data using statistical measures and visualizations

In [6]:
import pandas as pd

In [11]:
# The code was removed by Watson Studio for sharing.

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [12]:
# this is the kaggle dataset called 'Star Type Classification / NASA' located at
# https://www.kaggle.com/brsdincer/star-type-classification

body = client_f8ba96dcb9e846b7902bb1f801e25c25.get_object(Bucket='advanceddatasciencespecialization-donotdelete-pr-qiuttnle6ib09j',Key='Stars.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df2 = pd.read_csv(body)
df2.head()

   Temperature         L       R    A_M Color Spectral_Class  Type
0         3068  0.002400  0.1700  16.12   Red              M     0
1         3042  0.000500  0.1542  16.60   Red              M     0
2         2600  0.000300  0.1020  18.70   Red              M     0
3         2800  0.000200  0.1600  16.65   Red              M     0
4         1939  0.000138  0.1030  20.06   Red              M     0

In [14]:
# this is the kaggle dataset called 'Star Dataset: Stellar Classification [Beginner]' 
# and the specific file is: Star99999_raw.csv   located at
# https://www.kaggle.com/vinesmsuic/star-categorization-giants-and-dwarfs?select=Star99999_raw.csv

body = client_f8ba96dcb9e846b7902bb1f801e25c25.get_object(Bucket='advanceddatasciencespecialization-donotdelete-pr-qiuttnle6ib09j',Key='Star99999_raw.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df3 = pd.read_csv(body)
df3.head()

   Unnamed: 0   Vmag      Plx   e_Plx     B-V SpType
0           0   9.10     3.54    1.39   0.482     F5
1           1   9.27    21.90    3.10   0.999    K3V
2           2   6.61     2.81    0.63  -0.019     B9
3           3   8.06     7.75    0.97   0.370    F0V
4           4   8.55     2.87    1.11   0.902  G8III